/* -------------------------------------
変数宣言
---------------------------------------*/
$base-color: #082B48;
$color-active: #E81919;
$base-font-size: 16px;
$bg-color: white;
@mixin title( $font-size ) {
    font-size: $font-size;
    font-weight: bold;
    text-align: center;
}


/* ----------------------------------- */
/* base                                */
/* ----------------------------------- */
body {
    color: $base-color;
    font-size: $base-font-size;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
img {
    width: 100%;
    height: auto;
}
.noscroll{
    /* ハンバーガーメニューを開いてる際、スクロールを禁止する（javaで規定） */
    overflow: hidden;
}
a {
    text-decoration: none;
    color: $base-color;
    &:hover {
        opacity: 0.7;
    }
}
h1,h4 {
    text-align: center;
    font-weight: bold;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
.btn {
    display: block;
    margin: 0 auto;
    padding: 24px 120px;
    background-color: #3F51B5;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 3px 6px 0px #000029;
    border-radius: 8px;
    border: none;
}

// 関数の定義--------------------------
@mixin title( $font-size ) {
    font-size: $font-size;
    font-weight: bold;
    text-align: center;
}
@mixin flexbox-yoko( $margin-bottom ) {
    display: flex;
    // space-between はIEだとエラーが出やすいため、下記で対応
    // justify-content: space-between;
    margin: 0 auto;
    // align-items: center;
    margin-bottom: $margin-bottom;
}
@mixin flexbox-tate( $margin-bottom ) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-bottom;
}



/* ----------------------------------- */
/* section                             */
/* ----------------------------------- */
.section {
    padding: 100px 0px;
}
.section-title {
    margin: 0px auto 108px auto;
    @include title(48px);
    &::after{
        content:"";
        display: block;
        background-color: #3F51B5;
        width: 60px;
        height: 4px;
        margin: 24px auto;
        text-align: center;
    }
}


/* ----------------------------------- */
/* container                             */
/* ----------------------------------- */
.container {
    padding: 0px 60px;
}

/* ----------------------------------- */
/* header                              */
/* ----------------------------------- */
header {
    background-color: #3F51B5;
    .container {
        max-width: 2000px;
        @include flexbox-yoko(0px);
    }
}
.header-left {
    padding: 30px 0px;
}
.header-right {
    margin-left: auto;
    .header-nav {
        padding: 42px 0px;
        @include flexbox-yoko(0px);
        .header-nav-item {
            margin-right: 40px;
        }
        // アクティブなメニューに下線
        // &::after {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 2px;
        //     margin: 24px auto;
        //     text-align: center;
        //     background: $color-active; //カラーは変数登録しておきましょう！
        // }
    } 
}
.burger-btn{
	display: none;
}

/* ----------------------------------- */
/* top                                 */
/* ----------------------------------- */
.top {
    background-image: url(../img/bg-top.png);
    background-size: cover;
    padding: 14.3% 22.5%;
    // filter: blur(2px);
    // 背景のみをぼやかすのは少しめんどくさいコーディング？
    height: 600px;

    .top-title {
        font-size: 64px;
        margin-bottom: 32px;
    }
    .top-subtitle {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .btn-contact {
        // text-align: center;
        width: 90%;
        max-width: 384px;
    }
}


/* ----------------------------------- */
/* card                                */
/* ----------------------------------- */
.card {
    background-color: #EFEFEF;;
}
.card-item-wrapper {
    @include flexbox-yoko(0px);
    flex-wrap: wrap;
    .card-item {
        width: calc(33.3333% - 24px * 2/3);
        margin-right: 24px;
        margin-bottom: 24px;
        padding: 16px;
        background-color: #FFFFFF;

        .card-item-title {
            color: #6F7579;
            text-align: left;
            font-size: 20px;
            line-height: 2;
        }
        p {
            // 文字サイズは正確に指定しないと思いもよらぬ大きさになる場合がある
            font-size: $base-font-size;
            color: #6F7579;
        }
    }
    .card-item:nth-child(3n) {
        margin-right: 0px;
    }
    
}


/* ----------------------------------- */
/* News                                */
/* ----------------------------------- */
.news-item-wrapper {
    width: 80%;
    margin: 0 auto;
    @include flexbox-tate(60px);

    .news-item-detail {
        width: 100%;
        border-bottom: solid 1px #707070;
        @include flexbox-yoko(0px);
        
        .news-item-date {
            width: 100px;
            margin: 16px 0px;
        }
        .news-item-label {
            width: 96px;
            height: 48px;
            padding: 8px;
            .btn-news {
                display: block;
                width: 80px;
                height: 32px;
                padding: 8px;
                background-color: #666666;
                color: #ffffff;
                text-align: center;
            }
            .btn-blue {
                background-color: #3F51B5;
            }
            .btn-red {
                background-color: #E81919;
            }
        }
        .news-item-text {
            width: calc(100% - 211px);
            margin: 16px 0px 16px 16px;
        }   
    }
    
}
.btn-more-wrapper {
    display: flex;
    justify-content: center;
    .btn-more {
        color: red;
    }
}



/* ----------------------------------- */
/* Price                               */
/* ----------------------------------- */
.price {
    background-color: #EFEFEF;
    .container {
        padding: 0px 40px;
    }
}
.price-item-wrapper {
    @include flexbox-yoko(100px);

    .price-left {
        width: 37%;
        margin-right: 40px;
    }
    .price-right {
        width: 63%;
        .price-contact {
            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
  
.price-table {
    width: 100%;
    table-layout: fixed;    // th 以外の列の幅を均等そろえ
    height: 286px;
    background-color: white;
    border: solid 2px  #c9b8b8;
    border-collapse: collapse;
    margin-bottom: 20px;
    th {
        width: 26%;
        vertical-align: middle;
        text-align: center;
    }
    td {
        text-align: right;
        padding-right: 20px;
        vertical-align: middle;
        border: solid 2px  #c9b8b8;
    }
    tr {
        height: calc(286px / 5);
        border: solid 2px  #c9b8b8;
    }
    .table-label {
        color: white;
        font-weight: bold;
        padding: 0px;
        background-color:  #817b7b;
        text-align: center;
    }
    .table-text-red {
        color: red;
        font-weight: bold;
        padding-bottom: 5px;
    }
    
}


/* ----------------------------------- */
/* Access                              */
/* ----------------------------------- */
.access-wrapper {
    .iframe-wrapper {
        position: relative;
        width: 100%;
        padding-top: 40%;    /* = height ÷ width × 100 */
        iframe {
            // map埋め込み中央揃え
            // https://haniwaman.com/google-map/#CSS
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
        }
    }
    th {
        width: 80px;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
    td {
        padding-left: 40px;
        vertical-align: middle;
    }
    tr {
        height: 32px;
    }
    .btn-access {
        width: 50%;
        max-width: 304px;
        font-size: 16px;
        text-align: center;
        padding: 20px 10px;
        background: #3f51b5 url(../img/icon-arrow-right.png) no-repeat center right 12px/17px 20px;
    }
}



/* ----------------------------------- */
/* Contact                             */
/* ----------------------------------- */
.contact {
    background-color: #EFEFEF;
}
.contact-wrapper {
    width: 63.3%;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: white;
    .form-part {
        margin: 0px 7.5%;
        height: 80px;
        // flex 使うと上下中央揃えが楽
        // text-align: center; はブロック要素には使用できない
        display: flex;
        align-items: center;
        label {
            // インライン要素化されると幅の指定などができなくなる
            width: 150px;
            line-height: 1.5;
            // border: 1px solid black;
            span {
                color: white;
                font-size: 14px;
                background-color: red;
                display: inline-block;
                padding: 2px 5px;
                border-radius: 4px;
                position: absolute;
            }
        }
        input, select {
            width: 65%;
            height: 38px;
        }
    }
    .form-part:nth-child(4) {
        height: 240px;
        margin-top: 25px;
        margin-bottom: 50px;
        align-items: flex-start;
        #content {
            height: 240px;
            width: 65%;
        }
    }
    .radio-part {
        margin-bottom: 10%;
        // height: 40px;
        // flex 使うと上下中央揃えが楽
        // text-align: center; はブロック要素には使用できない
        display: flex;
        align-items: center;
        input {
            margin-left: 5%;
            // 位置の微調整
            top: -2px;
            position: relative;
        }
    }
    .btn-contact {
        width: 50%;
        max-width: 304px;
        font-size: 16px;
        text-align: center;
        padding: 20px 10px;
        background: #3f51b5 url(../img/icon-arrow-right.png) no-repeat center right 12px/17px 20px;
    }
    .policy-part {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: underline;
            font-weight: bold;
            padding-left: 20px;
        }
    } 
}


/* ----------------------------------- */
/* footer                              */
/* ----------------------------------- */

footer {
    .container {
        max-width: 2000px;
    }
    p {
        font-size: $base-font-size;
    }
    background-color:#333333;
    color: white;
}
.footer-wrapper {
    height: 400px;
    @include flexbox-yoko(10px);

    .footer-left {
        width: 30%;
        img {
            width: 100%;
            max-width: 400px;
            margin-top: 60px;
            margin-bottom: 32px;
        }
        p {
            line-height: 1.5;
        }
    }
    .footer-center {
        width: 90%;
        padding: 60px 4% 0px 4%;
        @include flexbox-yoko(0px);
        .center-item {
            margin-left: 10px;
            width: 50%;
        }
    }
}

.copyright {
    text-align: center;
    padding-bottom: 20px;
}

// トップへ戻るボタン
.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100%;
}
.totop a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
.totop a:hover {
    background: #999;
}


/* ----------------------------------- */
/* レスポンシブ表示                     */
/* ----------------------------------- */
@media only screen and (max-width: 767px) {
    /* ----------------------------------- */
    /* 変数宣言                            */
    /* ----------------------------------- */
    $base-font-size: 14px;

    /* ----------------------------------- */
    /* base                                */
    /* ----------------------------------- */
    .container {
        padding: 0px 10px;
    }
    .btn {
        padding: 15px 5px;
        font-size: 16px;
    }
    p {
        font-size: 10px;
    }
    h5 {
        font-size: 12px;
    }
    /* ----------------------------------- */
    /* section                             */
    /* ----------------------------------- */
    .section {
        padding: 30px 0px;
    }
    .section-title {
        font-size: 16px;
        margin-bottom: 10px;
        &::after{
            width: 60px;
            height: 2px;
            margin: 15px auto;
        }
    }

    /* ----------------------------------- */
    /* header                              */
    /* ----------------------------------- */
    header {
        padding: 0px 5px;
    }
    .header-left {
        padding: 20px 0px;
    }
    /* ------------------ */
    /* humberger-menu */
    /* ------------------ */
    .burger-btn {
        display: block;
        width: 39px;
        height: 39px;
        position: relative;
        margin-left: auto; //右寄せ
        margin-top: 20px;
        z-index: 3; //.header-navとの重なりを回避
        background-color:transparent; //透明
        border:none;
    }
    .bar{
        width: 20px;
        height: 1px;
        display: flex;
        flex-direction: column;
        background-color: black;
        margin: 8px auto;
    }
    /* jsでcloseクラスが付与されて、×ボタンの一部となる -------------*/
    .burger-btn.close .bar_top{
        transform: translate(0%, 9px) rotate(45deg);
        transition: transform .3s;
    }
    .burger-btn.close .bar_mid{
        opacity: 0;
        transition: opacity .3s;
    }
    .burger-btn.close .bar_bottom{
        transform: translate(0%,-9px) rotate(-45deg);
        transition: transform .3s;
    }
    /*--------------------------------------------------------------*/
    .header-right{
        /* js の fadeToggle によって display 要素に block が追加され、表示されるようになる */
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        .header-nav{
            width: 100%;
            height: 100%;
            background-color:white;
            z-index: 2;
            @include flexbox-tate(20px);
            
            .header-nav-item{
                margin-bottom: 50px;
            }
        }
    }


    /* ----------------------------------- */
    /* top                                 */
    /* ----------------------------------- */
    .top {
        padding: 14.3% 10%;
        height: 350px;

        .top-title {
            font-size: 42px;
            margin-bottom: 20px;
        }
        .top-subtitle {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .btn-contact {
            max-width: 250px;
        }
    }

    /* ----------------------------------- */
    /* card                                */
    /* ----------------------------------- */
    .card-item-wrapper {
        .card-item {
            width: calc(50% - 12px * 1/2);
            margin-right: 12px;
            margin-bottom: 12px;
            padding: 10px;
            .card-item-title {
                font-size: 16px;
                line-height: 1.5;
            }
            p {
                font-size: $base-font-size;
            }
        }
        .card-item:nth-child(3n) {
            // 3n の設定を消してあげないとそのまま引き継がれる
            margin-right: 12px;
        }
        .card-item:nth-child(2n) {
            margin-right: 0px;
        }   
    }

    /* ----------------------------------- */
    /* News                                */
    /* ----------------------------------- */
    .news-item-wrapper {
        width: 100%;
        font-size: $base-font-size;

        .news-item-detail {
            .news-item-date {
                width: 80px;
                margin: 8px 0px;
            }
            .news-item-label {
                width: 70px;
                height: 30px;
                padding: 4px;
                .btn-news {
                    width: 62px;
                    height: 22px;
                    padding: 4px;
                }
            }
            .news-item-text {
                width: calc(100% - 160px);
                margin: 8px 0px 8px 5px;
            } 
        }
    }

    /* ----------------------------------- */
    /* Price                               */
    /* ----------------------------------- */
    .price {
        font-size: 12px;
        .container {
            padding: 0px 10px;
        }
    }
    .price-item-wrapper {
        margin-bottom: 0px;
        .price-left {
            width: 33%;
            margin-right: 10px;
        }
        .price-right {
            width: 67%;
        }
    }
    .price-table {
        height: 180px;
        tr {
            height: calc(180px / 5);
        }
        td {
            padding-right: 5px;
        }
    }

    /* ----------------------------------- */
    /* Access                              */
    /* ----------------------------------- */
    .access {
        font-size: 14px;
    }
    .access-wrapper {
        td {
            padding-left: 0px;
        } 
        tr {
            height: 25px;
        }
        .btn-access {
            font-size: 12px;
            padding: 15px 5px;
        }
    }
    

    /* ----------------------------------- */
    /* Contact                             */
    /* ----------------------------------- */
    .contact-wrapper {
        width: 100%;
        font-size: $base-font-size;
        .form-part {
            margin: 0% 3%;
            height: 50px;
            label span{
                font-size: 12px;
            }
        }
        input::placeholder{
            font-size: 12px;
        }
        #contact-type {
            font-size: 10px;
        }
        .form-part:nth-child(4) {
            height: 180px;
            margin-top: 10px;
            margin-bottom: 20px;
            #content {
                font-size: 12px;
                height: 170px;
            }
        }
        .radio-part p{
            font-size: $base-font-size;
        }
        .policy-part p{
            font-size: $base-font-size;
        }
        .btn-contact {
            font-size: 12px;
            padding: 15px 5px;
        }
    }

    /* -----------------------------------
    footer
    ----------------------------------- */
    .footer-wrapper {
        height: 550px;
        @include flexbox-tate(10px);

        .footer-left {
            width: 90%;
            img {
                width: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                line-height: 1.5;
            }
        }
        .footer-center {
            padding: 20px 0 0px 0;
            @include flexbox-tate(10px);
            .center-item {
                margin-left: 0px;
                margin-top: 10px;
                width: 100%;
            }
        }

    }

    // トップへ戻るボタン
    .totop {
        bottom: 5px;
        right: 5px;
        font-size: 100%;
    }
    .totop a {
        width: 50px;
        padding: 10px 0;
    }


}